<style>
	.product_box {
		border: 1px solid #000;
		height: 150px;
		width: 100px;
		margin: 5px;
		display: inline-block;
		vertical-align: top;
	}
	img {
		height: 50px;
		width: 50px;
	}
</style>

<div ng-controller = 'ProductsController'>
	<h4>Add a new product</h4>
	<p ng-repeat = 'error in errors' ng-bind = 'error'></p>
	<form ng-submit = 'add()'>
		<label>Name:</label>
		<input type = 'text' ng-model = 'newProduct.name' placeholder = 'name'>
		<label>Image (url):</label>
		<input type = 'text' ng-model = 'newProduct.url' placeholder = 'http://'>
		<label>Description:</label>
		<textarea ng-model = 'newProduct.description'></textarea>
		<label>Initial Quantity:</label>
		<select ng-model = 'newProduct.quantity' ng-options = 'n for n in [] | range:1:50'>
			<option value = '' disabled>0</option>
		</select>
		<input type = 'submit' value = 'Add Product'>
	</form>

	<input type = 'text' ng-model = 'filter_name' placeholder = 'Filter...'>
	<div ng-repeat = 'product in products | filter:filter_name track by $index' class = 'product_box'>
		<img>
		<p ng-bind = 'product.name'></p>
		<p>({{product.quantity}} left)</p>
	</div>
</div>